.about-section {
  margin-top: 100px;
}

/* 버튼 */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* 모달 */
.modal-content {
  border-radius: 10px;
}


/* 연락처  */
#contact form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

#contact .form-control {
  margin-bottom: 1rem;
}


/* 푸터 */
footer p {
  margin-bottom: 0;
}

/* 반응형 포트폴리오 카드 열 조정 */
@media (max-width: 768px) {
  .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
